.auth {
	.v-icon {
		color: #868a8c !important;
	}
	.v-sheet.v-card {
		box-shadow: 0 0 3px 0 rgba(85, 85, 85, 0.08),
			0 0 3px 0 rgba(85, 85, 85, 0.06), 0 0 3px 0 rgba(85, 85, 85, 0.03) !important;
	}
}
.theme--dark .auth {
	.v-card {
		background-color: #2d2d2d !important;
		color: #edf0f2 !important;
	}
}
