.docs {
	.docs-navigation {
		.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover)
			.v-btn__content {
			opacity: 0.9 !important;
		}
	}

	.theme--dark.v-expansion-panels .v-expansion-panel {
		&::before {
			box-shadow: 0 0 3px 0 rgb(110 110 110 / 15%), 0 0 3px 0 rgb(85 85 85 / 6%),
				0 0 3px 0 rgb(85 85 85 / 3%) !important;
		}
		&--active {
			border: 1px solid #4d4d4d82;
		}
	}
}
