// Override only for trading page <15.01.21>
.trading {
  // No scroll history table <20.02.21>
  .hdl .v-data-table__wrapper {
    overflow: hidden !important;
  }

  // No scroll orders tables <21.02.21>
  .bid-list .v-data-table__wrapper {
    overflow: hidden !important;
  }

  .ask-list .v-data-table__wrapper {
    overflow: hidden !important;
  }

  // Less table font size <20.02.21>
  td {
    font-size: 0.75rem !important;
  }

  // Remove table padding <19.02.21>
  table {
    padding: 0;
  }

  // Less padding in trading tables <19.02.21>
  td {
    padding: 4px 4px 4px 4px !important;
  }

  th {
    padding: 4px 4px 4px 4px !important;
  }

  // Less table cells height <20.02.21>
  .v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > td {
    height: 24px;
  }

  // Text Field small size .trading-forms <18.02.21>
  .tf {
    .v-input {
      .v-text-field--outlined {
        max-height: 30px;
      }

      .v-input--dense {
        max-height: 30px;
      }

      .v-input__control {
        max-height: 30px;
      }

      .v-input__slot {
        max-height: 30px;
      }

      fieldset {
        max-height: 30px;
      }

      .v-text-field__slot {
        max-height: 30px;
      }

      .v-text-field__slot .v-label {
        top: 3px;
      }

      .v-text-field--outlined.v-input--dense .v-label--active {
        transform: translateY(-12px) scale(0.75);
      }

      .v-input--selection-controls {
        margin-top: 8px;
      }

      .v-input__append-inner {
        margin-top: 6px;
      }

      input {
        padding-bottom: 12px;
      }
    }
  }

  // scroll for tables in trading <19.02.21>
  .v-data-table__wrapper {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: var(--scrollbar-size);
      width: var(--scrollbar-size);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color);
      border-radius: var(--scrollbar-border-radius) 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--scrollbar-color-hover);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--scrollbar-color-active);
    }

    &::-webkit-scrollbar-thumb:vertical {
      min-height: var(--scrollbar-minlength);
    }

    &::-webkit-scrollbar-thumb:horizontal {
      min-width: var(--scrollbar-minlength);
    }
  }

  // custom scroll for chat <19.02.21>
  &-chat__content {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: var(--scrollbar-size);
      width: var(--scrollbar-size);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color);
      border-radius: var(--scrollbar-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--scrollbar-color-hover);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--scrollbar-color-active);
    }

    &::-webkit-scrollbar-thumb:vertical {
      min-height: var(--scrollbar-minlength);
    }

    &::-webkit-scrollbar-thumb:horizontal {
      min-width: var(--scrollbar-minlength);
    }
  }
}