// Override only for trading page <15.01.21>
.trading {
	// No scroll history table <20.02.21>
	.hdl .v-data-table__wrapper {
		overflow: hidden !important;
	}

	// No scroll orders tables <21.02.21>
	.bid-list .v-data-table__wrapper {
		overflow: hidden !important;
	}
	.ask-list .v-data-table__wrapper {
		overflow: hidden !important;
	}

	// Less table font size <20.02.21>
	td {
		font-size: 0.75rem !important;
	}

	// Less padding in trading tables <19.02.21>
	td {
		padding: 4px 4px 4px 4px !important;
	}
	th {
		padding: 4px 4px 4px 4px !important;
	}

	// Less table cells height <20.02.21>
	.v-data-table--dense .v-data-table__wrapper td {
		height: 24px;
	}
	.own-active-order-list,
	.own-active-position-list,
	.own-history-deal-list {
		.v-data-table--dense td {
			height: 28px !important;
		}
	}

	// Text Field small size <18.02.21>
	.trading-forms .v-input,
	.tickers-list .v-input {
		.v-input__control {
			border-radius: 0 !important;
		}
		fieldset {
			height: 36px !important;
			color: rgba(0, 0, 0, 0.05) !important;
		}
		.v-text-field__slot {
			top: -4px !important;
		}
		.v-input__append-inner {
			margin-top: 9px !important;
		}
		.v-label--active {
			transform: translateY(-14px) scale(0.75) !important;
		}
	}

	// scroll for components <19.02.21>
	* {
		scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
		scrollbar-width: thin;
		&::-webkit-scrollbar {
			height: var(--scrollbar-size);
			width: var(--scrollbar-size);
		}
		&::-webkit-scrollbar-track {
			background-color: var(--scrollbar-track-color);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollbar-color);
			border-radius: var(--scrollbar-border-radius) 3px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--scrollbar-color-hover);
		}
		&::-webkit-scrollbar-thumb:active {
			background-color: var(--scrollbar-color-active);
		}
		&::-webkit-scrollbar-thumb:vertical {
			min-height: var(--scrollbar-minlength);
		}
		&::-webkit-scrollbar-thumb:horizontal {
			min-width: var(--scrollbar-minlength);
		}
	}

	// Remove table padding
	.ask-list .v-data-table__wrapper {
		table {
			padding: 0 !important;
		}
		td {
			height: 25px !important;
		}
	}
	.bid-list .v-data-table__wrapper {
		table {
			padding: 0 !important;
		}
		td {
			height: 25px !important;
		}
	}

	// Switch small size <26.02.21>
	.trading-forms .v-input--switch {
		margin-left: 4px;
		margin-top: 0;
	}
	.trading-forms .v-input--switch,
	.own-active-order-list .v-input--switch,
	.own-history-deal-list .v-input--switch,
	.own-active-position-list .v-input--switch {
		.v-input--selection-controls__input {
			top: 5px;
			width: 25px;
		}
		.v-input--selection-controls__ripple {
			height: 12px;
			width: 12px;
			left: -9px;
			top: -6px;
		}
		.v-input--switch__track {
			height: 14px;
			width: 26px;
		}
		.v-input--switch__thumb {
			height: 8px;
			width: 8px;
			top: calc(50% - 9px);
		}
		label {
			font-size: 13px;
		}
	}
	.own-active-order-list .v-input--switch,
	.own-history-deal-list .v-input--switch,
	.own-active-position-list .v-input--switch {
		label {
			font-size: 10px !important;
		}
	}
	// Small switch transform
	.trading-forms,
	.own-active-order-list,
	.own-history-deal-list,
	.own-active-position-list {
		.v-input--switch--inset.v-input--is-dirty .v-input--switch__thumb,
		.v-input--switch--inset.v-input--is-dirty
			.v-input--selection-controls__ripple {
			transform: translate(12px, 0) !important;
		}
	}

	// No top padding in forms radio
	.trading-forms .v-input--radio-group {
		padding-top: 0;
	}

	// Own... components style
	.own-active-order-list,
	.own-history-deal-list,
	.own-active-position-list {
		.v-data-table__wrapper table {
			padding: 0 !important;
		}
		.v-input--switch {
			margin-top: 0;
			padding-top: 0;
		}
		.v-data-footer__select .v-select {
			margin-left: 8px !important;
		}
	}

	// Own Lists tabs height
	.own-lists-tabs-wrapper {
		.v-tabs {
			height: 35px;
		}
		.v-tab {
			font-size: 11px;
			height: 35px;
		}
		.v-tabs-bar__content {
			height: 35px;
		}
	}

	// Market Activity Component
	.market-activity {
		table {
			padding: 0 !important;
		}
	}
}

// Dark style
.theme--dark {
	.trading {
		* {
			scrollbar-color: auto !important;
			&::-webkit-scrollbar-thumb {
				background-color: var(--dark-scrollbar-color) !important;
				border-radius: var(--scrollbar-border-radius) 3px;
			}
			&::-webkit-scrollbar-thumb:hover {
				background-color: var(--dark-scrollbar-color-hover) !important;
			}
			&::-webkit-scrollbar-thumb:active {
				background-color: var(--dark-scrollbar-color-active) !important;
			}
		}
		.trading-forms,
		.tickers-list {
			.v-input fieldset {
				color: rgba(255, 255, 255, 0.12) !important;
			}
		}
	}
}
