/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.phar
/.fleet
/.idea
/.vscode
/composer_2.phar
/resources/js/translations/js/custom/
/lang/zh_CN/custom/
/lang/ru/custom/
/lang/pt/custom/
/lang/pl/custom/
/lang/ko/custom/
/lang/ja/custom/
/lang/fr/custom/
/lang/es/custom/
/lang/en/custom/
/lang/de/custom/
/lang/ar/custom/