:root {
	--light-background-color: #f9f9f9;
	--dark-background-color: #1e1e1e;
	--dark-popups-background-color: #303030;
}

.text-success {
	color: var(--v-success-base);
}
.text-danger {
	color: var(--v-error-base);
}

.confirm-dialog {
	box-shadow: 0 0 15px 0 #0000001c, 0 5px 30px #04040469, 0 0 3px #0000004f,
		0 0 30px 0 #11111121 !important;
	width: auto !important;
}
.theme--dark .confirm-dialog {
	box-shadow: 0 0 15px 0 #0000001c, 0 5px 30px #04040469, 0 0 3px #0006,
		0 0 30px 0 #11111121 !important;
}

.table-date {
	color: #a8a8a8;
}

.trading-component-title {
	font-size: 1.16rem !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
}

// Menu with class small-text-menu <03.03.21>
.small-text-menu {
	.v-list-item {
		text-align: left !important;
		min-height: 30px !important;
		&__title {
			font-weight: normal !important;
			font-size: 11px !important;
			letter-spacing: 0.0071428571em !important;
		}
	}
}
