:root {
	--light-background-color: #f9f9f9;
	--dark-background-color: #1e1e1e;
	--dark-popups-background-color: #303030;

	--app-header-height: 64px;
	--app-header-height--mobile: 56px;

	--app-footer-height: 29px;
	--app-footer-height--medium: 40px;
	--app-footer-large-medium-difference: 11px;
	--app-footer-height--mobile: 58px;

	--small-tabs-height: 35px
}

.table-date {
	color: #a8a8a8;
}

.clickable {
	cursor: pointer;
}
.non-selectable {
	user-select: none;
}
.dashed {
	border-bottom: 1px dashed;
}
.vertical-middle {
	vertical-align: middle;
}

.component-title {
	font-size: 1.16rem !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
}

// Menu with class small-text-menu <03.03.21>
.small-text-menu {
	.v-list-item {
		text-align: start !important;
		min-height: 30px !important;
		&__title {
			font-weight: normal !important;
			font-size: 11px !important;
			letter-spacing: 0.0071428571em !important;
		}
	}
}

.tab-fill-height {
	--profile-tabs-height: 48px;
	--profile-paddings: 15px;
	min-height: calc(
		100vh - var(--app-header-height) - var(--app-footer-height) - var(--profile-tabs-height) - var(--profile-paddings)
	);
	@media screen and (max-width: 1264px) {
		min-height: calc(
			100vh - var(--app-header-height) - var(--app-footer-height--medium) - var(--profile-tabs-height) -
				var(--profile-paddings)
		);
	}
	@media screen and (max-width: 960px) {
		min-height: calc(
			100vh - var(--app-header-height--mobile) - var(--app-footer-height--mobile) - var(--profile-tabs-height) -
				var(--profile-paddings)
		);
	}
}
.common-dialog__actions .v-btn {
	text-transform: uppercase !important;
	letter-spacing: 1px !important;
}
.balance-fiat-dialog-select-system__item-action .v-btn, .balance-crypto-dialog-select-system__item-action .v-btn {
	text-transform: uppercase !important;
	letter-spacing: 1px !important;
}