.highcharts-range-selector-buttons > text {
	display: none;
}
@media (max-width: 450px) {
	.highcharts-exporting-group {
		display: none;
	}
}
@media (max-width: 960px) {
	.trading-chart-wrapper {
		max-height: 436px !important;
	}
	.highcharts-menu-wrapper {
		max-height: 335px !important;
	}
	.highcharts-arrow-wrapper {
		bottom: 65px !important;
	}
}
.chart:-webkit-full-screen {
	width: 100%;
	height: 100%;
}

.chart:-moz-full-screen {
	width: 100%;
	height: 100%;
}

.chart:-ms-fullscreen {
	width: 100%;
	height: 100%;
}

.chart:fullscreen {
	width: 100%;
	height: 100%;
}

.chart {
	width: 100%;
	float: left;
	height: 400px;
	position: relative;
}

.highcharts-draw-mode {
	cursor: crosshair;
}

.highcharts-bindings-wrapper * {
	box-sizing: content-box;
}

.highcharts-bindings-wrapper {
	display: block;
	width: 40px;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.highcharts-stocktools-popup {
	width: 100%;
}

.highcharts-menu-wrapper {
	float: left;
	width: 40px;
	height: calc(100% - 69px);
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.highcharts-bindings-wrapper .highcharts-submenu-wrapper {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background: #fff;
	width: 40px;
}

.highcharts-bindings-wrapper .highcharts-arrow-wrapper {
	text-align: center;
	width: 40px;
	position: absolute;
	left: 10px;
	bottom: 41px;
	font-size: 1.5em;
}

.highcharts-bindings-wrapper .highcharts-arrow-wrapper > div {
	cursor: pointer;
}

.highcharts-bindings-wrapper .highcharts-arrow-down {
	background-image: url('/images/highcharts/arrow-right.svg');
	background-size: cover;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	transform: rotate(90deg);
}

.highcharts-bindings-wrapper .highcharts-arrow-up {
	background-image: url('/images/highcharts/arrow-right.svg');
	background-size: cover;
	outline: none;
	display: inline-block;
	width: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	transform: rotate(-90deg);
}

.highcharts-bindings-wrapper .highcharts-arrow-right {
	background: url('/images/highcharts/arrow-bottom.svg') no-repeat right bottom;
	background-size: contain;
}

.highcharts-bindings-wrapper .highcharts-arrow-left.highcharts-arrow-right {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	transform: rotate(0deg);
}

.highcharts-bindings-wrapper .highcharts-arrow-left {
	background-image: url('/images/highcharts/arrow-right.svg');
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	transform: rotate(180deg);
}

.highcharts-bindings-wrapper ul {
	width: 40px;
	/* 30px spacing for arrows to scroll */
	margin: 0;
	padding: 0;
	float: left;
	transition: margin 250ms;
}

.highcharts-bindings-wrapper > ul {
	width: 40px;
	position: relative;
}

.highcharts-bindings-wrapper .highcharts-stocktools-toolbar li {
	list-style: none;
	margin-bottom: 3px;
	padding: 0;
	clear: both;
	width: 100%;
	height: 40px;
	cursor: pointer;
	position: relative;
	background-color: #f7f7f7;
}

.highcharts-bindings-wrapper
	.highcharts-stocktools-toolbar
	li.highcharts-disabled-btn {
	cursor: default;
}

.highcharts-bindings-wrapper
	.highcharts-stocktools-toolbar
	li.highcharts-disabled-btn
	> .highcharts-menu-item-btn {
	opacity: 0.5;
}

.highcharts-bindings-wrapper
	.highcharts-stocktools-toolbar
	li.highcharts-disabled-btn.highcharts-active {
	background: #f7f7f7;
}

.highcharts-bindings-wrapper
	.highcharts-stocktools-toolbar
	li.highcharts-disabled-btn
	.highcharts-menu-item-btn:hover {
	background-color: transparent;
}

.highcharts-bindings-wrapper li > span.highcharts-menu-item-btn {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.highcharts-submenu-wrapper li > span.highcharts-menu-item-btn {
	width: 40px;
}

.highcharts-bindings-wrapper li > span.highcharts-submenu-item-arrow {
	float: left;
	width: 10px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}

.highcharts-bindings-wrapper li.highcharts-separator {
	height: 15px;
	background-color: transparent;
	width: 36px;
	pointer-events: none;
}

.highcharts-bindings-wrapper
	li.highcharts-separator
	> span.highcharts-menu-item-btn {
	width: 100%;
}

.highcharts-bindings-wrapper
	li.highcharts-active
	> span.highcharts-menu-item-btn,
.highcharts-bindings-wrapper li > span.highcharts-menu-item-btn:hover,
.highcharts-bindings-wrapper .highcharts-arrow-wrapper > div:hover,
.highcharts-bindings-wrapper li.highcharts-active,
.highcharts-toggle-toolbar:hover {
	background-color: #e6ebf5;
	transition: background-color 100ms;
}

.highcharts-toggle-toolbar {
	position: absolute;
	cursor: pointer;
	width: 10px;
	height: 10px;
	background-color: #f7f7f7;
	background-image: url('/images/highcharts/arrow-right.svg');
	background-size: cover;
}

.highcharts-hide {
	display: none;
}

.highcharts-bindings-wrapper li:hover,
.highcharts-submenu-item-arrow:hover {
	background-color: #e6ebf5;
}

.highcharts-bindings-wrapper .highcharts-arrow-down,
.highcharts-bindings-wrapper .highcharts-arrow-up {
	width: 50%;
	height: 20px;
	float: left;
}

.highcharts-popup.highcharts-annotation-toolbar {
	right: 10%;
	left: auto;
	padding-right: 40px;
	height: 40px;
	width: auto;
	min-width: 0;
}

.highcharts-popup.highcharts-annotation-toolbar button {
	margin-top: 0;
}

.highcharts-popup.highcharts-annotation-toolbar > span {
	display: block;
	float: left;
	padding: 12px;
}

.highcharts-popup {
	background-color: #fff;
	color: #666;
	display: none;
	font-size: 0.876em;
	max-height: 90%;
	top: 5%;
	left: 15%;
	overflow-x: hidden;
	overflow-y: auto;
	width: 75%;
	min-width: 300px;
	max-width: 600px;
	position: absolute;
	z-index: 100;
	-webkit-box-shadow: 0 0 8px 0 rgba(61, 61, 61, 0.3);
	-moz-box-shadow: 0 0 8px 0 rgba(61, 61, 61, 0.3);
	box-shadow: 0 0 8px 0 rgba(61, 61, 61, 0.3);
}

.highcharts-popup div,
.highcharts-popup span {
	box-sizing: content-box;
}

.highcharts-popup input,
.highcharts-popup label,
.highcharts-popup select {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.highcharts-popup input {
	border: 1px solid #e6e6e6;
	padding: 5px;
	width: calc(100% - 12px);
}

.highcharts-popup-lhs-col,
.highcharts-popup-rhs-col {
	padding: 20px;
	height: calc(100% - 84px);
	/* 44px - padding, 40px - tabs*/
	float: left;
}

.highcharts-popup-lhs-col.highcharts-popup-lhs-full {
	width: calc(100% - 52px);
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 140px);
	border: none;
	padding: 0 20px 20px 20px;
}

.highcharts-popup-lhs-col.highcharts-popup-lhs-full
	+ .highcharts-popup-bottom-row {
	width: calc(100% - 32px);
}

.highcharts-popup-lhs-col {
	clear: both;
	width: calc(30% - 44px);
	border-right: 1px solid #e6e6e6;
}

.highcharts-popup-bottom-row {
	float: left;
	padding: 0 20px;
	width: calc(100% - 40px);
}

.highcharts-popup-rhs-col {
	width: calc(70% - 40px);
}

.highcharts-popup-rhs-col-wrapper {
	float: left;
	width: 100%;
	height: calc(100% - 40px);
	overflow-y: auto;
	overflow-x: hidden;
}

.highcharts-popup-rhs-col-wrapper h3 {
	margin-top: 0;
	padding-bottom: 0;
}

.highcharts-bindings-wrapper ul.highcharts-indicator-list,
.highcharts-indicator-list {
	float: left;
	color: #666;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.highcharts-indicator-list li {
	cursor: pointer;
	padding: 0 0 5px 0;
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	word-break: break-all;
}

.highcharts-indicator-list li:hover {
	background-color: #e6ebf5;
}

.highcharts-tab-item {
	background-color: #f7f7f7;
	cursor: pointer;
	display: block;
	float: left;
	padding: 10px;
	height: 20px;
}

.highcharts-tab-item.highcharts-tab-item-active {
	background-color: #e6ebf5;
}

.highcharts-tab-item-content {
	display: none;
	float: left;
	height: 100%;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid #e6e6e6;
}

.highcharts-tab-item-show {
	display: block;
}

.highcharts-popup-close {
	background: url('/images/highcharts/close.svg') no-repeat 50% 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	padding: 10px;
	top: 0;
	right: 0;
	color: #333333;
}

.highcharts-popup-close:hover,
.highcharts-popup button:hover,
.highcharts-popup button.highcharts-annotation-edit-button:hover,
.highcharts-popup button.highcharts-annotation-remove-button:hover {
	background-color: #e6ebf5;
}

.highcharts-popup button {
	float: right;
	border: none;
	background: #f7f7f7;
	color: #666;
	margin-left: 5px;
	margin-top: 12px;
}

.highcharts-popup button:first-child {
	margin-left: 0;
}

.highcharts-tab-disabled {
	color: #ccc;
}

/* annotation edit small popup */
.highcharts-popup button.highcharts-annotation-edit-button,
.highcharts-popup button.highcharts-annotation-remove-button {
	width: 20px;
	height: 40px;
	padding: 20px;
}

.highcharts-popup button.highcharts-annotation-edit-button {
	background: url('/images/highcharts/edit.svg') no-repeat 50% 50% transparent;
	text-indent: -9999px;
}

.highcharts-popup button.highcharts-annotation-remove-button {
	background: url('/images/highcharts/destroy.svg') no-repeat 50% 50%
		transparent;
	text-indent: -9999px;
}

.highcharts-popup .highcharts-annotation-title {
	display: block;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 15px;
	width: 100%;
}

.highcharts-popup .highcharts-popup-main-title {
	border-bottom: 1px solid #e6e6e6;
	margin: 0 0 20px 0;
	padding: 8px 0 6px 20px;
}

.highcharts-indicator-title {
	float: left;
	padding-bottom: 15px;
}
.highcharts-stocktools-toolbar {
	padding-left: 0 !important;
}
.highcharts-bindings-wrapper {
	z-index: 3 !important;
}

//
// Some changes and fixes <24.02.21>
//

// Fix export menu
.highcharts-menu {
	padding: 8px 16px !important;
	box-shadow: rgb(212, 212, 212) 0 0 10px !important;
	border: 1px solid rgb(215, 215, 215) !important;

	hr {
		border: none;
		border-top: 1px solid #dfdfdf;
	}

	&-item {
		transition: background 150ms ease 0s, color 150ms ease 0s !important;

		&:hover {
			background: var(--v-primary-lighten2) !important;
		}
	}
}

// Fix export button color in light theme
.highcharts-button-box {
	fill: #ededed;
}

// Fix export position
.highcharts-exporting-group {
	transform: translateX(-3px) !important;
}
.highcharts-contextmenu {
	transform: translateX(-3px) !important;
}

// Fix popup menu
.highcharts-popup {
	ul.highcharts-indicator-list {
		padding: 0 !important;
	}
	li.highcharts-indicator-list {
		font-size: 11px !important;
		padding: 4px 16px !important;
		width: 115px !important;
	}

	select {
		font-size: 12px !important;
		border: 1px solid #e6e6e6;
		height: 22px !important;

		&:focus {
			outline: none !important;
		}
	}

	button {
		padding: 6px 32px;
		font-size: 12px;
		text-transform: uppercase;
	}

	input:focus {
		outline: none !important;
	}

	.highcharts-popup-lhs-col {
		padding: 8px !important;
	}

	&-main-title {
		height: 41px !important;
		display: flex !important;
		align-items: center !important;
	}
}

// Fix arrow toggle position
.highcharts-toggle-toolbar {
	top: 10px !important;
}

// Remove global(?!) ul left padding
.highcharts-submenu-wrapper {
	padding-left: 0 !important;
}

// Bottom range mask color
.highcharts-navigator-mask-inside {
	fill-opacity: 0.6 !important;
}

// Arrows and left toolbar visible height
.highcharts-arrow-wrapper {
	bottom: 53px !important;
}
.highcharts-menu-wrapper {
	height: calc(100% - 83px) !important;
}

// (Market activity margin), height fix
.highcharts-container {
	height: 380px !important;
}
.highcharts-root {
	height: 380px !important;
}
@media screen and (max-width: 1768px) {
	.highcharts-menu-wrapper {
		height: calc(100% - 92px) !important;
	}
	.highcharts-arrow-wrapper {
		bottom: 62px !important;
	}
	.highcharts-stocktools-toolbar {
		height: 700px !important;
	}
}

// Some popup fixes
.highcharts-popup {
	box-sizing: border-box !important;

	&-lhs-col {
		min-height: 221px !important;
	}
	.highcharts-tab-item {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		width: 90px !important;
		font-size: 13px !important;
		text-transform: uppercase !important;
	}
	label {
		font-size: 12px !important;
		text-transform: uppercase !important;
		margin-bottom: 4px !important;
	}
	input {
		height: 16px !important;
		font-size: 12px !important;
	}
}

//
// Only for DARK theme <24.02.21>
//

.theme--dark {
	--dark-button-color: #0e171f;
	--dark-button-color--hover: #192837;
	--dark-button-color--hover-lighten1: #2b3b4f;

	--dark-border-color__popup: #737373;
	--dark-border-color__popup--input: #3a3a3a;

	--dark-button-color__popup: #131f29;
	--dark-button-color__popup--hover: #1e3141;

	--dark-background-color: #05090c;
	--dark-background-color-lighten1: #0d1921;
	--dark-background-color__menu: #0d171f;
	--dark-background-color__menu--hover: #142430;

	--dark-text-and-icons-color: #dbdbdb;

	--dark-label-stroke: #838383;

	.highcharts-background {
		fill: var(--dark-background-color) !important;
	}

	.highcharts-button {
		&-box {
			fill: var(--dark-button-color) !important;
		}

		&:hover {
			.highcharts-button-box {
				fill: var(--dark-button-color--hover) !important;
			}
		}

		.highcharts-button-symbol {
			stroke: var(--dark-text-and-icons-color) !important;
			fill: var(--dark-text-and-icons-color) !important;
		}
	}

	text {
		fill: var(--dark-text-and-icons-color) !important;
		color: var(--dark-text-and-icons-color) !important;
	}

	// Left toolbar buttons no color
	.highcharts-bindings-wrapper .highcharts-stocktools-toolbar li {
		background-color: transparent !important;
		//&:hover {
		//	background-color: var(--dark-button-color--hover) !important;
		//}
	}

	// Change toolbar buttons hover color
	.highcharts-bindings-wrapper
		li.highcharts-active
		> span.highcharts-menu-item-btn,
	.highcharts-bindings-wrapper li > span.highcharts-menu-item-btn:hover,
	.highcharts-bindings-wrapper .highcharts-arrow-wrapper > div:hover,
	.highcharts-bindings-wrapper li.highcharts-active,
	.highcharts-toggle-toolbar:hover {
		background-color: var(--dark-button-color--hover) !important;
	}

	// Right top export menu style
	.highcharts-menu {
		box-shadow: rgb(0, 0, 0) 3px 3px 10px !important;
		border: 1px solid rgb(16, 16, 16) !important;
		background: var(--dark-background-color__menu) !important;

		&-item {
			background: var(--dark-background-color__menu) !important;
			color: var(--dark-text-and-icons-color) !important;

			&:hover {
				background: var(--dark-background-color__menu--hover) !important;
			}
		}

		hr {
			border-top: 1px solid #3c3c3c;
		}
	}

	// Popup
	.highcharts-popup {
		background: var(--dark-background-color__menu) !important;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) !important;

		// Left list in indicator popup
		ul.highcharts-indicator {
			&-list {
				li {
					color: var(--dark-text-and-icons-color) !important;

					&:hover {
						background-color: var(
							--dark-background-color__menu--hover
						) !important;
					}
				}
			}
		}

		// Title in right popup column
		.highcharts-indicator-title {
			color: var(--dark-text-and-icons-color) !important;
		}

		label {
			color: var(--dark-text-and-icons-color) !important;
		}

		&-field {
			color: var(--dark-text-and-icons-color) !important;
		}

		option {
			color: #0d171f !important;
		}

		button {
			background-color: var(--dark-button-color__popup) !important;
			color: var(--dark-text-and-icons-color) !important;

			&:hover {
				background-color: var(--dark-button-color__popup--hover) !important;
			}
		}

		input {
			border: 1px solid var(--dark-border-color__popup--input) !important;
		}

		select {
			font-size: 12px !important;
			border: 1px solid var(--dark-border-color__popup--input) !important;
		}

		.highcharts-tab-item {
			background-color: var(--dark-button-color) !important;

			&-active {
				color: var(--dark-text-and-icons-color) !important;
				background-color: var(--dark-button-color--hover) !important;
			}

			&-content {
				border-top: 1px solid var(--dark-border-color__popup) !important;
			}
		}

		.highcharts-tab {
			&-disabled {
				color: var(--dark-border-color__popup) !important;
			}
		}

		&-lhs-col {
			border-right: 1px solid var(--dark-border-color__popup) !important;
		}

		&-main-title {
			border-bottom: 1px solid var(--dark-border-color__popup) !important;
		}

		&-bottom-row {
			padding: 16px 0 16px 0 !important;
		}
	}

	// Left menu submenu
	.highcharts-submenu-item-arrow:hover {
		background-color: var(--dark-button-color--hover-lighten1) !important;
	}

	.highcharts-submenu-wrapper {
		background-color: var(--dark-background-color__menu) !important;

		&-btn {
			background-color: var(--dark-button-color__popup) !important;
		}
	}

	// Lines
	--dark-line__grid: #2d2d2d;
	--dark-line__grid--minor: #0f0f0f;
	--dark-line__axis: #4d4d4d;
	--dark-line__axis--resizer: #838383;
	--dark-line__tracker: #cbcbcb;

	.highcharts-axis-resizer {
		stroke: var(--dark-line__axis--resizer) !important;
	}

	.highcharts-axis-line {
		stroke: var(--dark-line__axis) !important;
	}

	.highcharts-grid-line {
		stroke: var(--dark-line__grid) !important;
	}
	.highcharts-minor-grid-line {
		stroke: var(--dark-line__grid--minor) !important;
	}
	.highcharts-tracker-line {
		stroke: var(--dark-line__tracker) !important;
		stroke-width: 1px !important;
	}
	.highcharts-navigator {
		&-outline {
			stroke: var(--dark-line__grid) !important;
		}

		&-xaxis {
			.highcharts-axis-line {
				stroke: var(--dark-line__grid) !important;
			}
		}

		&-yaxis {
			.highcharts-axis-line {
				stroke: var(--dark-line__grid) !important;
			}
		}

		&-handle {
			fill: #21243e !important;
		}
	}

	// Label
	.highcharts-label-box {
		fill: var(--dark-background-color__menu--hover) !important;
	}
	.highcharts-annotation-label-box {
		stroke: var(--dark-label-stroke) !important;
	}
	.highcharts-control-points path {
		fill: #647c91 !important;
	}
	.highcharts-annotation-toolbar {
		color: var(--dark-text-and-icons-color) !important;
	}

	//
	// Dark Icons
	// Main color - #888888
	//

	// Left menu
	// From first to last icon
	.highcharts-indicators .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/indicators.svg') !important;
	}

	.highcharts-label-annotation .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/label.svg') !important;
	}
	.highcharts-circle-annotation .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/circle.svg') !important;
	}
	.highcharts-rectangle-annotation .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/rectangle.svg') !important;
	}

	.highcharts-segment .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/segment.svg') !important;
	}
	.highcharts-arrow-segment .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/arrow-segment.svg') !important;
	}
	.highcharts-ray .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/ray.svg') !important;
	}
	.highcharts-arrow-ray .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/arrow-ray.svg') !important;
	}
	.highcharts-infinity-line .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/line.svg') !important;
	}
	.highcharts-arrow-infinity-line .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/arrow-line.svg') !important;
	}
	.highcharts-horizontal-line .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/horizontal-line.svg') !important;
	}
	.highcharts-vertical-line .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/vertical-line.svg') !important;
	}

	.highcharts-elliott3 .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/elliott-3.svg') !important;
	}
	.highcharts-elliott5 .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/elliott-5.svg') !important;
	}
	.highcharts-crooked3 .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/crooked-3.svg') !important;
	}
	.highcharts-crooked5 .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/crooked-5.svg') !important;
	}

	.highcharts-measure-xy .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/measure-xy.svg') !important;
	}
	.highcharts-measure-x .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/measure-x.svg') !important;
	}
	.highcharts-measure-y .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/measure-y.svg') !important;
	}

	.highcharts-fibonacci .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/fibonacci.svg') !important;
	}
	.highcharts-pitchfork .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/pitchfork.svg') !important;
	}
	.highcharts-parallel-channel .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/parallel-channel.svg') !important;
	}

	.highcharts-toggle-annotations .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/annotations-visible.svg') !important;
	}

	.highcharts-vertical-counter .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/vertical-counter.svg') !important;
	}
	.highcharts-vertical-label .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/vertical-label.svg') !important;
	}
	.highcharts-vertical-arrow .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/vertical-arrow.svg') !important;
	}

	.highcharts-flag-circlepin .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/flag-elipse.svg') !important;
	}
	.highcharts-flag-diamondpin .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/flag-diamond.svg') !important;
	}
	.highcharts-flag-squarepin .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/flag-trapeze.svg') !important;
	}
	.highcharts-flag-simplepin .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/flag-basic.svg') !important;
	}

	.highcharts-zoom-x .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/zoom-x.svg') !important;
	}
	.highcharts-zoom-y .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/zoom-y.svg') !important;
	}
	.highcharts-zoom-xy .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/zoom-xy.svg') !important;
	}

	.highcharts-full-screen .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/fullscreen.svg') !important;
	}

	.highcharts-series-type-candlestick .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/series-candlestick.svg') !important;
	}
	.highcharts-series-type-line .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/series-line.svg') !important;
	}
	.highcharts-series-type-ohlc .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/series-ohlc.svg') !important;
	}

	.highcharts-current-price-indicator .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/current-price-show.svg') !important;
	}

	.highcharts-save-chart .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/save-chart.svg') !important;
	}

	.highcharts-separator .highcharts-menu-item-btn {
		background-image: url('../js/assets/images/highcharts/dark/separator.svg') !important;
	}

	// Arrows
	.highcharts-toggle-toolbar {
		background-image: url('../js/assets/images/highcharts/dark/arrow-right.svg') !important;
		background-color: #0e171f !important;
	}
	.highcharts-arrow-right {
		background-image: url('../js/assets/images/highcharts/dark/arrow-bottom.svg') !important;
	}
	.highcharts-arrow-up {
		background-image: url('../js/assets/images/highcharts/dark/arrow-right.svg') !important;
	}
	.highcharts-arrow-down {
		background-image: url('../js/assets/images/highcharts/dark/arrow-right.svg') !important;
	}

	// Other Icons
	.highcharts-popup-close {
		background-image: url('../js/assets/images/highcharts/dark/close.svg') !important;
		background-color: var(--dark-button-color__popup);

		&:hover {
			background-color: var(--dark-button-color__popup--hover);
		}
	}
	.highcharts-annotation-remove-button {
		background-image: url('../js/assets/images/highcharts/dark/destroy.svg') !important;
	}
	.highcharts-annotation-edit-button {
		background-image: url('../js/assets/images/highcharts/dark/edit.svg') !important;
	}
}
