.v-application .v-bottom-navigation {
	background-color: var(--light-background-color);
	box-shadow: none;
	.v-btn {
		min-width: 50px;
	}
}
.v-application.theme--dark .v-bottom-navigation {
	background-color: var(--dark-background-color);
}
