.v-picker {
	.v-time-picker-clock {
		&__item {
			font-size: 13px !important;
		}
	}
	.v-date-picker-header {
		font-size: 13px !important;
		font-weight: 600 !important;
		padding-bottom: 0 !important;
	}
	.v-date-picker-table {
		th {
			font-size: 11px !important;
			padding: 0 !important;
		}
	}
}

.theme--light {
	.v-picker__body {
		background: var(--light-background-color) !important;
		.v-time-picker-clock {
			background: #f5f5f5 !important;
		}
	}
}
.theme--dark {
	.v-menu__content .v-list,
	.v-picker__body,
	.v-picker__actions {
		background: var(--dark-popups-background-color) !important;
	}
	.v-picker {
		.v-time-picker-clock {
			background: #424242 !important;
		}
	}
}
