// Stepper <10.04.21>
.v-stepper {
	background: var(--light-background-color) !important;
	box-shadow: none !important;

	&__header {
		box-shadow: none !important;
	}
	&__content {
		padding-top: 4px !important;
		padding-bottom: 0 !important;
	}
}
.theme--dark .v-stepper {
	background-color: var(--dark-background-color) !important;
}
