// Tables
.v-data-table {
	table {
		padding: 4px;
		padding-bottom: 8px;

		th {
			text-transform: uppercase;
			white-space: nowrap;
		}

		td {
			border-bottom: 0 !important;
		}

		tbody {
			tr {
				transition: box-shadow 0.2s, transform 0.2s;

				&:not(.v-data-table__selected):hover {
					box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
					transform: translateY(-4px);
				}
			}
		}
	}
}

// Remove hover effect exp. list <19.02.21>
.v-data-table table tbody tr:not(.v-data-table__selected):hover {
	box-shadow: none;
	transform: none;
}

// Change table title style <07.03.21>
.v-data-table caption {
	text-transform: uppercase !important;
	font-weight: 600 !important;
	font-size: 16px;
}

// Data table divider fix
tr:not(:last-child).v-data-table__mobile-table-row {
	> td:last-child {
		border-bottom: thin solid rgba(137, 137, 137, 0.61) !important;
	}
}

// Google Chrome remove td border-radius
td {
	border-radius: 0 !important;
}

// изменение чипов таблицы
.v-data-table-header-mobile__wrapper {
	.v-chip {
		font-size: 11px !important;
		border-radius: 0 !important;
	}
	.v-select__slot label {
		font-size: 0.8rem;
	}
}

// Styles for report pages
.transfers,
.transactions,
.fiat-transactions,
.ref-payments,
.orders,
.tickets,
.exchange-history,
.deals {
	display: flex;
	flex-grow: 1;
	.v-data-table {
		display: flex;
		flex-flow: column;
	}
	.v-data-table__wrapper {
		padding: 0 !important;
		flex-grow: 1 !important;
        overflow-y: auto;
        .v-data-table-header-mobile__wrapper {
            .theme--dark.sortable.v-chip {
              background: none;
            }
            .theme--light.sortable.v-chip:not(.v-chip--active) {
                background: none;
            }
        }
	}
	table {
		padding: 0 !important;
        caption {
            padding-right: 8px !important;
            padding-left: 8px !important;
            padding-bottom: 8px !important;
        }
	}
	th {
		padding: 0 !important;
	}
    th:first-child {
        padding-left: 8px !important;
    }
    th:last-child {
        padding-right: 8px !important;
    }
	td {
		padding: 0 !important;
		padding-right: 8px !important;
		word-break: break-word !important;
	}
    td:first-child {
        padding-left: 8px !important;
    }
    td:last-child {
        padding-right: 8px !important;
    }
	caption {
		text-align: start;
	}
    @media screen and (max-width: 600px) {
      td {
        padding-left: 8px !important;
      }
    }
}

.v-data-table__wrapper {
	.v-btn::before {
		background-color: transparent;
	}
}
.theme--light {
	.v-data-table__wrapper {
		.v-btn--text {
			color: #595959 !important;
		}
	}
}
.theme--dark {
	.v-data-table__wrapper {
		.v-btn--text {
			color: #b9b9b9 !important;
		}
	}
}