// Tabs
.v-tabs-items {
	background-color: transparent !important;
}

// Custom tabs height
.small-tabs {
	.v-tabs {
		height: 35px;
	}
	.v-tab {
		font-size: 11px;
		height: 35px;
	}
	.v-tabs-bar {
		height: 35px;
	}
	.v-tabs-bar__content {
		height: 35px;
	}
}
