.balance {
	// Balance table full height
	.v-data-table__wrapper {
		min-height: calc(100vh -  307px);
		@media screen and (max-width: 1264px) {
			min-height: calc(100vh - 318px);
		}
	}
	table {
		padding: 0 !important;
	}
	.v-card {
		box-shadow: none !important;
	}
	@media screen and (max-width: 600px) {
		.v-data-table {
			margin-top: 16px;
		}
	}
}
