.info-page {
	table {
		padding: 0 !important;
	}
}
.status-page {
	table {
		border-spacing: 1px !important;
		td {
			text-align: center !important;
			&:last-child {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
		th {
			text-align: center !important;
		}

		td,
		th {
			padding: 0 8px !important;
		}
	}
}
