.info-page {
	table {
		padding: 0 !important;
	}
}
.status-page {
	table {
		td {
			text-align: center !important;
			&:last-child {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
		th {
			text-align: center !important;
		}

		td,
		th {
			padding: 0 8px !important;
		}
	}
}
.fees-page {
	.v-data-table {
		&__wrapper {
			min-height: calc(100vh - 307px);
			@media screen and (max-width: 1264px) {
				min-height: calc(100vh - 318px);
			}
		}
		@media screen and (max-width: 600px) {
			margin-top: 16px;
		}
	}
}
