// Override only for trading page <15.01.21>
.trading {
	// No scroll history table <20.02.21>
	.history-deal-list .v-data-table__wrapper {
		overflow: hidden !important;
	}

	// No scroll orders tables <21.02.21>
	.bid-list .v-data-table__wrapper {
		overflow: hidden !important;
	}
	.ask-list .v-data-table__wrapper {
		overflow: hidden !important;
	}

	// Less table font size <20.02.21>
	td {
		font-size: 0.75rem !important;
	}

	// Less padding in trading tables <19.02.21>
	td {
		padding: 4px 4px 4px 4px !important;
	}
	th {
		padding: 4px 4px 4px 4px !important;
	}

	// Less table cells height <20.02.21>
	.v-data-table--dense .v-data-table__wrapper td {
		height: 24px;
	}
	.own-active-order-list,
	.own-active-position-list,
	.own-history-deal-list {
		.v-data-table--dense td {
			height: 28px !important;
		}
	}

	// Text Field small size <18.02.21>
	.trading-forms .v-input,
	.trading-tickers-list .v-input {
		.v-input__control {
			border-radius: 0 !important;
		}
		fieldset {
			height: 36px !important;
			color: rgba(0, 0, 0, 0.05) !important;
		}
		.v-text-field__slot {
			top: -4px !important;
		}
		.v-input__append-inner {
			margin-top: 9px !important;
		}
		.v-label--active {
			transform: translateY(-14px) scale(0.75) !important;
		}
	}

	// Remove table padding
	.ask-list .v-data-table__wrapper {
		table {
			padding: 0 !important;
		}
		td {
			height: 25px !important;
		}
	}
	.bid-list .v-data-table__wrapper {
		table {
			padding: 0 !important;
		}
		td {
			height: 25px !important;
		}
	}

	// Switch Margin
	.trading-forms .v-input--switch {
		margin-left: 4px !important;
		margin-top: 0 !important;
	}

	// No top padding in forms radio
	.trading-forms .v-input--radio-group {
		padding-top: 0;
	}

	// Own... components style
	.own-active-order-list,
	.own-history-deal-list,
	.own-active-position-list {
		.v-data-table__wrapper table {
			padding: 0 !important;
		}
		.v-input--switch {
			margin-top: 0;
			padding-top: 0;
		}
		.v-data-footer__select .v-select {
			margin-left: 8px !important;
		}
	}

	// Market Activity Component
	.trading-market-activity {
		table {
			padding: 0 !important;
		}
	}
}

// Dark style
.theme--dark {
	.trading {
		.trading-forms,
		.trading-tickers-list {
			.v-input fieldset {
				color: rgba(255, 255, 255, 0.12) !important;
			}
		}
	}
}

.v-application--is-rtl .trading {
	.trading-forms {
		.v-radio:first-child {
			margin-right: 0 !important;
		}
	}
}
